.profile-container {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.avatar-section {
  display: flex;
  justify-content: center;
  margin: 32px 0;

  ion-avatar {
    width: 120px;
    height: 120px;
    
    ion-icon {
      width: 100%;
      height: 100%;
      color: var(--ion-color-primary);
    }
  }
}

ion-card {
  margin-bottom: 16px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.save-btn {
  margin-top: 16px;
}
