ion-tab-bar {
  --background: var(--ion-background-color);
  --border: 1px solid var(--ion-color-step-150);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
}
